*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    margin:0 auto;
    max-width: 1080px;
    max-height: 1920px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
       
}

.swiper{
    width: 100%;
    height: auto;
}
.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev{
    color: rgb(136, 0, 95);
}

.swiper .swiper-pagination-bullet-active{
    background: rgb(136, 0, 95);
}